# Data Science Tools and Ecosystem

## In this notebook, Data Science Tools and Ecosystem are summarized.

__Objectives:__
<ul>
<li>sql</li>
<li>python</li>
<li>R</li>
</ul>

## Some of the popular languages that Data Scientists use are:
<ol>
<li>Python</li>
<li>SQL</li>
<li>R</li>
</ol>

## Some of the commonly used libraries used by Data Scientists include:
## 
<ol>
    <li>numpy </li>
    <li>matplotlyb </li>
    <li>pandas </li>
    <li>scikit learn </li>
</ol>

|Data Science Tools|
| --- |
| jupyter |
| excel |
| TensorFlow |
| numpy |
| pandas |
| powerbi|

### Below are a few examples of evaluating arithmetic expressions in Python

In [2]:
# This a simple arithmetic expression to mutiply then add integers

In [3]:
(3*4)+5

17

In [4]:
# This will convert 200 minutes to hours by diving by 60

In [5]:
200 / 60

3.3333333333333335

## Author 
Mohamed Ali BAHRi